.Wrapper {
    overflow: hidden;
    position: fixed;
    width: 400px;
    height: 400px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.22);
    z-index: 99;
    /* padding: 20px; */
}

.Img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.Heading {
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Heading1 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


@media only screen and (max-width: 460px) {
    .Wrapper {
        overflow: hidden;
        position: fixed;
        width: 300px;       
        border-radius: 12px;
        background: #fff;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);             
    }

    .Img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
    }

    .Heading {        
        font-weight: 600;
        margin-top: 25px; 
        text-align: center;
    }

    .Heading1 {        
        font-weight: 600;
        margin-top: 25px;
        text-align: center;
    }
}

@media only screen and (max-width: 360px) {
    .Wrapper {
        overflow: hidden;
        position: fixed;
        width: 300px;       
        border-radius: 12px;
        background: #fff;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        z-index: 99;       
    }

    .Img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
    }

    .Heading {        
        font-weight: 600;
        margin-top: 25px;
        text-align: center;
    }

    .Heading1 {        
        font-weight: 600;
        margin-top: 25px;
        text-align: center;
    }
}