.Wrapper{
    overflow: hidden;
    position: fixed;
    width: 600px;
    max-height: 550px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.22);
    z-index: 99;  
    padding: 20px;
}

.Wrapper1{   
    display: flex;
    flex-direction: row;   
    justify-content: space-evenly;
}

.Heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Card{   
    width: 150px;
    height: 50px;
    padding: 10px 10px 10px 10px;
    border-radius: 12px;
    background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.22);
}

.Details{
display: flex;
justify-content: center;
align-items: center;
}

.Button{
    width: 200px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-top: 20px;
    color: #fff;
    background: #60B84B;
    box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.22);
}


@media only screen and (max-width: 460px) {
    .Wrapper{
        overflow-x: hidden;
        position: fixed;
        width: 460px;
        max-height: 750px;
        border-radius: 12px;
        background: #fff;
        box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.22);
        z-index: 99;  
        padding: 5px;
    }

    .Heading{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .Wrapper1{   
        display: flex;
        flex-direction: column;   
        justify-content: space-evenly;
    }
    
   
    
    .Card{   
        width: 150px;
        height: 50px;
        padding: 10px 10px 10px 10px;
        border-radius: 12px;
        background: #fff;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.22);
    }
    
    .Details{
    
    }
    
    .Button{
        width: 80px;
        height: 35px;
        border: none;
        outline: none;
        border-radius: 8px;
        margin-top: 20px;
        color: #fff;
        background: #60B84B;
        box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.22);
    }
    
  }
