.Wrapper{
    margin-left:220px ;
    overflow: hidden;  
    background: rgb(229, 224, 224);   
    height: 100vh; 

}

.Wrapper1{
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center; 
    gap:2.5rem;  
    /* padding-left: 100px;   */
}

.Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    padding: 10px 20px 20px 40px;
    border-radius: 12px;
    background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.22);
}

.Details{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: -35px;
    gap:20px;
}

.Quiz{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.QuizContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}