.Wrapper{
    width: 190px;
    height: 50px;
    background: #fff;    
    border-radius: 12px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.22);
}

.Heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
    margin-bottom: -15px;
}